h1,h2,h3,h4,h5,h6{
    color:purple;
    font-family:"Monotype Corsiva";
}

.Sub-items1{
    color:red;
    font-family:"Times New Roman";
    font-size:18pt;
}

.Sub-items2{
    color:yellow;
    font-family:"Times New Roman";
    font-size:20pt;
}

.Sub-items3{
    color:green;
    font-family:"Times New Roman";
    font-size:22pt;
}

tr td{
    color:green;
}
