@import url(import.css) (min-width:481px) and (max-width:768px);
.nav {
    position: relative;
    display: inline-block;
  }
  .button{
    padding: 7px 80px 7px 7px;
  }
  .button:hover{
    background-color: rgb(118, 192, 34);
  }
  .link {
    display: none;
    position: absolute;
    background-color: rgb(206, 137, 8);
    color: black;
  }
  .link a {
    text-decoration: none;
    display: block;
    margin: 0;
    width: 165px;
  }

  .link a:hover{
    background-color: rgb(195, 91, 54);
  }

  .nav:hover .link {display: block;}
  .link :nth-child(even){
  border-top-style:none ;
  border-bottom-style: none;
  }

.flex1{
    display: flex;
    flex-flow: row wrap;  
    margin: auto; 
    justify-content: center;
    align-content: center;
}
.menu{
    flex-basis: 20%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    min-width: 70px;
    background-color: rgb(163, 177, 104);
}
@media (max-width:480px){
    .flex1{
    justify-content: flex-start;
    flex-direction: column;
    }
    .div{
        min-width: 170px;
        flex-basis: 20%;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
}
@media (min-width:481px){
    .div{display: none;}
    .nav{display:none}
}
@media (max-width:481px){
    .div, .menu{display: none;}
}


.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.block1{
    flex-basis: 100%;
    text-align: center;
}
.block2{
    flex-basis: 25%;
}
.block3{
    flex-basis: 40%;
    min-width: 300px;
    padding: 10px;
}
.block4{
    flex-basis: 25%;
}

@media(max-width:620px){
    .flex{
        justify-content: center;
    }
    .block1,.block2,.block3,.block4{
        flex-basis: 100%;
    }
}

video{
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    margin: auto;
}
audio{
    padding-top: 15%;
    padding-bottom: 15%;
    display: block;
    margin: auto;
}


.flex2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
img{
    width: 300px;
    min-width: 1px;
}
.galery{
    width: 300px;
    min-width: 1px;
}
figcaption{
    text-align: center;
}
@media(max-width:1280px){
    .flex2{
        align-content: center;
        flex-flow: column wrap;
    }
}
@media(max-width:480px){
    .flex2 figcaption{color: red;}
}

body{
    background-color: rgb(231, 207, 97);
}

.bora{
    border: 1px black solid;
}

.cell{
    text-decoration: none;
    
}

