img{
    width: 400px;
    height: 250px;
}

figcaption{
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

figure{
    float: left;
    padding: 25px;  
}

.clear{
    clear: left;
}

*{
    margin: 0;
    padding: 0;
}