img{
    width: 200px;
}

.pic1{
    transform:perspective(200px) rotateX(40deg);
}

.pic2{
    transform:perspective(300px) rotateY(40deg);
}

.pic3{
    transform:perspective(150px) rotateX(-40deg);
}

.pic4{
    transform:perspective(300px) rotateY(-40deg);
}

h1{
    animation-name: text;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes text {
    0%{
        filter: opacity(0%);
        }
        100%{ 
        filter: opacity(80%);
        }  
}